
@using CpaRepository.ModelsDb
@model CpaRepository.ViewModel.AgreedModules.AgreedModuleViewModel

<select asp-for="VendorModuleId" class="form-control" id="vendorModules" >
    @foreach (var item in ViewBag.VendorModules as IEnumerable<VendorModule>)
    {
        <option value="@item.Id">@item.NameModule</option>
    }
</select>