@model Web.ViewModel.Letter.LetterViewModel

@{
    ViewData["Title"] = "Редактировать письмо о согласовании модулей";
}

<h1>Редактировать письмо о согласовании модулей</h1>

<h4>Редактировать письмо о согласовании модулей</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumberLetter" class="control-label"></label>
                <input asp-for="NumberLetter" class="form-control" />
                <span asp-validation-for="NumberLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfLetter" class="control-label"></label>
                <input asp-for="DateOfLetter" class="form-control" />
                <span asp-validation-for="DateOfLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <select asp-for="VendorId" class="form-control" asp-items="Model.Vendors"></select>
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>
            <div class="form-group" asp-validation-summary="None">
                <label asp-for="FileLetter" class="control-label"></label>
                <input asp-for="FileLetter" type="file" accept=".pdf" class="form-control" />
                <span asp-validation-for="FileLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
