@using CpaRepository.ModelsDb
@model IEnumerable<Letter>

<select class="form-control" id="letters">
    @foreach (var item in Model as IEnumerable<Letter>)
    {
        <option value="@item.Id">@item.NumberLetter</option>
    }
</select>