
@using CpaRepository.ModelsDb
@model IEnumerable<VendorModule>

<select class="form-control" id="vendorModules">
    @foreach (var item in Model as IEnumerable<VendorModule>)
    {
        <option value="@item.Id">@item.NameModule</option>
    }
</select>

