@model Core.Models.CpaModule

@{
    ViewData["Title"] = "Удалить модуль ТПР";
}

<h1>Удалить модуль ТПР</h1>

<h3>Вы уверены, что хотите удалить модуль ТПР?</h3>
<div>
    <h4>CpaModule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameModule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Улалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
