
@model IEnumerable<CpaRepository.ModelsDb.VendorModule>
<select id="city" name="VendorModule">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.NameModule</option>
    }
</select>